
WeatherAndNews.xcworkspace/contents.xcworkspacedata

WeatherAndNews.xcworkspace/xcuserdata/sergejhotanovic.xcuserdatad/xcdebugger/

WeatherAndNews.xcodeproj/project.xcworkspace/xcuserdata/maxbykov.xcuserdatad/UserInterfaceState.xcuserstate
